

nav ul li{
    margin-right: 50px;
    display: inline;
    text-decoration: none;
    list-style: none;
    float: right;
     margin-right:20px;
     display: flex;
     color: black;

    }
        
    .pet{
        font-size: 10px;
    }
    .vet{
        color: orange;
    }

    .family{
        margin-top: -1%;
        font-size: 20px;
        
    }
.fam button{
    background-color: rgb(17, 17, 189);
    padding: 15px;
    border-radius: 20px;

}
.fam i{
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 3px;
    margin-left: 5px;
}
    
    body{
        background-color:rgb(214, 250, 250)

    }
    .Holder{
        margin-top: 80%;


    }
    .african{
     float: right;
    border: 20px solid #00ffff; 
     margin-top: -10%;
     border-radius: 50%;
     height: 500px;
     width: 500px;
    }
     .services{
    
     text-align: end;
     padding-top: 20px;
     margin-top: -5%;

}
.branches{
    text-align: left;
    margin-top: 20px;
    text-align: left;
}
.header{
    display: inline-flex;
}
.Radiology{
    margin: 30px;
    padding: 80px;
    background-color: #f5f5f5;
}
.Radiology i{
    color: rgb(33, 33, 212);

}
.Ambulance{
    margin: 30px;
    padding: 80px;
    background-color: whitesmoke;
}
.Ambulance i{
    color: rgb(5, 5, 189);
}

.Dental{
    padding: 80px;
    margin: 30px;
    background-color: whitesmoke;
}
.Dental i{
    color: rgb(14, 14, 206);
}

.header1{
    display: inline-flex;
}
.surgery{
    margin: 30px;
    padding: 80px;
    background-color: whitesmoke;
}
.surgery i{
    color: rgb(11, 11, 192);
}
.parturition{
    padding: 80px;
    margin: 30px;
    background-color: whitesmoke;
}
.parturition i{
    color: rgb(26, 26, 158);
}
.petHostel{
    padding: 80px;
    margin: 30px;
    background-color: whitesmoke;
}
.petHostel i{
    color: rgb(13, 13, 136);
}
  .nursepic{
      width: 400px;
      height: 400px;
      float: left;
      

  } 
  .branches{
      font-size: 20px;
      text-align: center;
  } 
  .section3{
      display: flex inline;
  }
.doctors{
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}
.doctors button{
    background-color: rgb(29, 29, 160);
    padding: 10px;
}
.words  {
    font-size: 30px;
    text-align: left;
    margin-right: 50px;
display: inline-flex;
background-color: aquamarine;

}
.words p{
    padding-left: 400px;
    font-size: 24px;
}
.comments{
    text-align: right;
    font-size: 20px;
    padding-bottom: 30px;
}
.veterians{
    padding: 9%;
    font-size: medium;
    margin-right: 10%;
    text-align: left;
    margin-bottom: 30px;
    
}
.staff{
    font-size: medium;
    /* background-color:whitesmoke; */ 
    padding-right: 100px;
    margin-bottom: -5px;
    
    
}
.staff i{
    color: #ffa500;
}

.Experience{
    display: inline-flex;
    /* background-color: white; */
}
.Experience i{
    color: #ffa500;
}
/* .staff{

    background-color: whitesmoke;
    text-align: right;
    margin-top: 50px;
} */


.photo1{
    padding: 30px;
    margin: 70px;
    margin-left: 10px;
    text-align: center;
}

.photo2{
    padding: 30px;
    margin: 70px;
    margin-left: 10px;
    }

.photo3{
    padding: 30px;
    margin: 70px;
    margin-left: 10px;
}
.Blog{
    font-size: 30px;
     background-color: #7fffd4;
     padding: 10px;
}
.mail{
    background-color: #f5f5f5;
    font-size: 30px;
    border-radius: 20px;
    padding: 5px;
}
.sub button{
    font-size: 30px;
     background-color: #008000;
     text-align: left;
     margin: -10%;
     margin-left: 80%;

}
.Images{
    display: inline-flex;
    padding: 15px;
    margin-left: 5px;
   }


.subscribe{
     font-size: 30px;
    padding: 80px;
    margin: 30px;
    background-color: #00ffff;

}

.adress{
padding-top: 100px;
 background-color: #f0f8ff;
margin: 20px;
}
.last{
    display: inline-flex;
    /* padding: 50px;
    margin-left: 5px; */
}
.last1{
    margin: 100px;
    padding: 30px;

}
.last1 i{
    color: rgb(39, 39, 212);

}
.last1 i1{
    color: #0000ff;
}
.last1 i2{
    background-color: #ff0000;
}
.last1 i3{
    background-color: rgb(32, 32, 241);
}
.last2{
    margin: 100px;
    padding: 30px;

}
.last3{
    margin: 100px;
    padding: 30px;

}
.last4{
margin: 100px;
padding: 30px;
}
.section4{
    margin-top: 200px;
    /* background-color: white; */
}