nav ul li{
    margin-right: 50px;
    display: inline;
    text-decoration: none;
    list-style: none;
    float: right;
     margin-right:20px;
     display: flex;

    }
        
    

    .family{
        margin-top: 20%;
    }

    
    body{
        background-color:#808080

    }
    .Holder{
        margin-top: 80%;


    }
    .african{
        float: right;
        border: 15px;
        padding: 20px;
        margin: 50px;
     margin-top: -10%;
    }
     .services{
    
     text-align: end;
     padding-top: 20px;
     margin-top: -5%;

}
.branches{
    text-align: left;
    margin-top: 20px;
    text-align: left;
}
.header{
    display: inline-flex;
}
.Radiology{
    margin: 30px;
    padding: 80px;
    background-color: #faebd7;
}
.Ambulance{
    margin: 30px;
    padding: 80px;
    background-color: #faebd7;
}

.Dental{
    padding: 80px;
    margin: 30px;
    background-color: #faebd7;
}

.header1{
    display: inline-flex;
}
.surgery{
    margin: 30px;
    padding: 80px;
    background-color: #ffe4c4;
}
.parturition{
    padding: 80px;
    margin: 30px;
    background-color: #ffe4c4;
}
.petHostel{
    padding: 80px;
    margin: 30px;
    background-color: #ffe4c4;
}
    
.words{
    font-size: 20px;
    text-align: center;
}
.comments{
    font-size: 10px;
    text-align: right;
    margin-top: 20px;
}
.patient1{
    padding: 50px;
    margin-left: 50px;
    background-color: #f0f8ff;
    text-align: left;
    
}
.staff{
    padding:50px;
    margin-right:50px;
    background-color: #f0f8ff;
    text-align: right;
    margin-top: 50px;
    padding-top: -50%
}
.vetery{
    text-align: center;


}
.veteneranian{
    display: flex;

}
.male{
    margin-left: 15%;
    margin-bottom: -50%;
}
.nail{
    font-size: 24px;
    margin-left: 10%;
    text-align: left;
    
}
.pat{
    font-size: 24px;
     margin-left: 20%;
     text-align: left;
} 
.emma{
    font-size: 24px;
    margin-left: 20%;
    text-align: left;


}
.young{
    margin-left: -30px;
    display: flex;
    
    }

.female{
    margin-left: 80%;
    display: flex;
    /* margin-bottom: -200%; */
    

}
.subscribe{
     font-size: 30px;
    padding: 80px;
    margin: 30px;
    background-color: #00ffff;

}

.adress{
padding-top: 100px;
 background-color: #f0f8ff;
margin: 20px;
}
.last{
    display: flex;
    padding: 5px;
    margin-left: 5px;
}
.last1{
    margin-left: 50px;

}
.last2{
    margin-left: 50px;

}
.last3{
    margin-left: 50px;

}
.last4{
margin-left: 50px;
}